.top-header {
    background: hsla(240, 86%, 32%, 0.767);
    padding: 8px;
    text-align: center;
    font-size: 16px;
  }
  
  .top-header span {
    margin-right: 17px;
  }
  
  /* Style de la navbar */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 65, 119);
    padding: 10px 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {/* S'assurer que l'image n'est pas cachée */
    width: 170px; /* Ajuster la taille */
    height: auto;
  }
  
 
  .search-bar {
    display: flex;
    gap: 40px;
    width: 150px;

  }
  
  .search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .contact-info span {
    color: white;
    width: 150px;

  }
  .search-bar button {
    background: #035223;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .topbar {
    background-color: #078400; /* vert vif */
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .account,
  .modal-content {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
  }
  
  .nav-link .icon {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .nav-link .text {
    margin-right: 5px;
  }
  
  .nav-link .panier-id {
    margin-left: 5px;
    font-weight: normal;
  }
  
  .nav-link .dropdown {
    margin-left: 5px;
    font-size: 12px;
  }
  
  .divider {
    height: 30px;
    width: 1px;
    background-color: #ffffff80;
    margin: 0 15px;
  }
  
  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
  }